body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background: #ffffff;
    color: #222;
}

:root {
    --dark1: #13124F;
    --dark2: #1B1B6C;
    --dark3: #352BA5;
    --pink: #F61067;
    --green: #2AD392;
    --gray: #9090A5;
}

.navbar {
    background: var(--dark1);
    padding: 15px 30px;
    color: white;
    font-weight: bold;
}

.hero {
    background: var(--dark2);
    color: white;
    padding: 60px 80px;
    text-align: left;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.btn-pink {
    background: var(--pink);
    margin-bottom: 15px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    
}

.container {
    display: flex;
    padding: 40px 80px;
    gap: 40px;
}

.main-left {
    width: 65%;
}

.main-right {
    width: 35%;
}

.messages-header {
    text-align: center;
    background: var(--pink);
    color: white;
    padding: 10px;
    font-weight: bold;
}

.messages-header span {
    background: #352BA5;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}

.welcome-box{
    background: var(--dark1);
    color: white;
}
.welcome-box h3{
    background: var(--gray);
    padding: 15px;
}
.vote-box {
    background: white;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray);
    padding: 20px;
    margin-top: 20px;
    color: black;
}

.welcome-box input {
    width: 100%;
    padding: 10px;
    border: none;
    margin: 15px;
    margin-right: 15px;
    background: var(--dark2);
    margin-bottom: 15px;
    border-top: 1px solid var(--gray);
    border-bottom: 2px solid var(--gray);
}

.btn-green {
    background: var(--pink);
    padding: 10px 20px;
    border: none;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.btn-outline {
    padding: 10px 20px;
    background: transparent;
    border: 2px solid var(--green);
    cursor: pointer;
}

.alert {
    padding: 15px;
    background: var(--gray);
    color: white;
    margin-top: 20px;
}

footer {
    text-align:left;
    padding: 20px;
    background: var(--dark1);
    color: white;
    margin-top: 40px;
}
.small-link{
    width: 100%;
    background: var(--dark3);
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
        padding: 30px;
    }
    .main-left, .main-right {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .hero {
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }
}
